{% extends "djangofloor/django/base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}" />
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}
{% block head_title %}{% trans 'Page not found' %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block title %}{% trans 'Page not found' %}{% endblock %}
{% block content %}
<div id="content-main">
<h1>{% trans 'Error 404: page not found' %}</h1>
<p class="errornote">
{% blocktrans trimmed %}
    Oops, the page your requested cannot be found. Maybe you followed a bad link?
{% endblocktrans %}
</p>
<p class="login-footer">
  {% if df_has_index_view %}<a href="{% url 'index' %}">{% trans 'Return to the homepage' %}</a>{% else %}<a href="/">{% trans 'Return to the homepage' %}</a>{% endif %}
</p>
</div>
{% endblock %}
