{% extends "djangofloor/django/base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}" />
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}
{% block head_title %}{% trans 'Internal server error' %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block title %}{% trans 'Internal server error' %}{% endblock %}
{% block branding %}<h1><a href="/">{% trans 'Server error' %}</a></h1>{% endblock %}
{% block content %}
<div id="content-main">
<h1>{% trans 'Error 500: internal server error' %}</h1>
<p class="errornote">
{% blocktrans trimmed %}
    Oops, something terrible just happened, but don't panic, administrators have been warned and will fix this problem.
{% endblocktrans %}
</p>
<p class="login-footer">
  <a href="/">{% trans 'Return to the homepage' %}</a>
</p>
</div>
{% endblock %}
