[Unit]
Description=HTTP worker for {{ DF_PROJECT_NAME }}
After=network.target
[Service]
User={{ DF_MODULE_NAME }}
Group={{ DF_MODULE_NAME }}
WorkingDirectory=/opt/{{ DF_MODULE_NAME }}/var/
ExecStart={{ processes.control.command_line }} server
[Install]
WantedBy=multi-user.target
