{% extends "djangofloor/django/base.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block usertools %}{% endblock %}
{% block title %}{% trans 'Forgotten password' %} | {{ site_title|default:df_project_name }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<div id="content-main">

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll email instructions for setting a new one." %}</p>

<form method="post">{% csrf_token %}
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'E-mail address:' %}</label>
        {{ form.email }}
    </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Reset my password' %}" />
  </div>
</form>
<p class="login-footer">
  {% if df_has_index_view %}
    <a href="{% url 'index' %}">{% trans 'Return to the homepage' %}</a>
  {% else %}
    <a href="/">{% trans 'Return to the homepage' %}</a>
  {% endif %}
  </p>
</div>
{% endblock %}
