{% extends "djangofloor/django/base.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block usertools %}{% endblock %}
{% block title %}{% trans 'E-mail sent' %} | {{ site_title|default:df_project_name }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<div id="content-main">

  <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the e-mail you entered. You should receive them shortly." %}</p>

<p>{% trans "If you don't receive an e-mail, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

<p class="login-footer">
  {% if df_has_index_view %}
    <a href="{% url 'index' %}">{% trans 'Return to the homepage' %}</a>
  {% else %}
    <a href="/">{% trans 'Return to the homepage' %}</a>
  {% endif %}
  </p>
</div>
{% endblock %}
