{% extends "djangofloor/django/base.html" %}
{% load i18n static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block usertools %}{% endblock %}
{% block title %}{% trans 'Set new password' %} | {{ site_title|default:df_project_name }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<div id="content-main">

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans 'New password:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        {{ form.new_password2 }}
    </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Change my password' %}" />
  </div>

</form>

{% else %}

<p class="errornote">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
<p class="login-footer">
  {% if df_has_index_view %}
    <a href="{% url 'index' %}">{% trans 'Return to the homepage' %}</a>
  {% else %}
    <a href="/">{% trans 'Return to the homepage' %}</a>
  {% endif %}
  </p>
</div>

{% endblock %}
