amqp==1.4.8
anyjson==0.3.3
billiard==3.3.0.22
celery==3.1.19
Django==1.9.1
django-allauth==0.24.1
django-bootstrap3==6.2.2
django-debug-toolbar==1.4
django-pipeline==1.6.4
django-redis==4.3.0
django-redis-cache==1.6.5
funcsigs==0.4
futures==3.0.3
gunicorn==19.4.5
kombu==3.0.32
oauthlib==1.0.3
python-openid==2.2.5
pytz==2015.7
redis==2.10.5
requests==2.9.1
requests-oauthlib==0.6.0
sqlparse==0.1.18
