{% extends "account/base.html" %}

{% load i18n bootstrap3 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="col-md-6 col-lg-4 col-xs-12 col-sm-8">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-warning btn-sm" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
</div>{% endblock %}
