{% extends "admin/base_site.html" %}
{% load i18n djangofloor %}
{% block extrahead %}
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}" type="application/javascript" charset="utf-8"></script>
<script src="{% static 'js/djangofloor-base.js' %}" type="application/javascript" charset="utf-8"></script>
<script src="{% static 'vendor/bootstrap-notify/bootstrap-notify.js' %}" type="application/javascript" charset="utf-8"></script>
<script src="{% static 'js/djangofloor-django.js' %}" type="application/javascript" charset="utf-8"></script>
<link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}"/>
<link href="{% static 'admin/css/forms.css' %}"/>
<link href="{% static 'css/djangofloor-django.css' %}"/>
{% df_init_websocket %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Documentation' %}
</div>
{% endblock %}
{% block title %}{% trans 'Documentation' %}{% endblock %}

{% block messages %}
    <ul class="messagelist" id="df_messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}
    </ul>
{% endblock messages %}

{% block content %}


{% endblock %}

