{% extends "admin/base_site.html" %}
{% load i18n djangofloor static %}
{% block extrahead %}
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}" type="application/javascript" charset="utf-8"></script>
<script src="{% static 'js/djangofloor-base.js' %}" type="application/javascript" charset="utf-8"></script>
<script src="{% static 'vendor/bootstrap-notify/bootstrap-notify.js' %}" type="application/javascript" charset="utf-8"></script>
<script src="{% static 'js/djangofloor-django.js' %}" type="application/javascript" charset="utf-8"></script>
<link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'admin/css/forms.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/djangofloor-django.css' %}" rel="stylesheet" type="text/css" />
{% df_init_websocket %}
{% endblock %}

{% block title %}{{ title }} {% if df_project_name %}| {{ site_title|default:df_project_name }}{% endif %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% if df_has_index_view %}{% url 'index' %}{% else %}/{% endif %}">{% if df_project_name %}{{ site_header|default:df_project_name }}{% endif %}</a></h1>
{% endblock %}

{% block usertools %}
<div id="user-tools">
  {% if user.is_authenticated %}
    {% block welcome-msg %}
        <strong>{% firstof user.get_short_name user.get_username %}</strong>
    {% endblock %}
    {% block userlinks %}
        {% if user.is_staff %}
            <a href="{% url 'admin:index' %}">{% fontawesome_icon 'wrench' %}</a> /
        {% endif %}
        {% if user.has_usable_password %}
        <a href="{% url 'df:set_password' %}">{% trans 'Change password' %}</a> /
        {% endif %}
        <a href="{% url 'df:logout' %}">{% trans 'Log out' %}</a>
    {% endblock %}
  {% else %}
        <a href="{% url 'df:login' %}">{% trans 'Log in' %}</a>
  {% endif %}
</div>
{% endblock %}

{% block messages %}
    <ul class="messagelist" id="df_messages">
    {% for message in messages %}
      <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}
    </ul>
{% endblock messages %}


{% block breadcrumbs %}
{% if breadcrumbs %}
<div class="breadcrumbs">
{% for breadcrumb in breadcrumbs %}{% if not forloop.first %} &rsaquo; {% endif %}
  {% if breadcrumb.0 %}<a href="{{ breadcrumb.0 }}">{{ breadcrumb.1 }}</a>{% else %}{{ breadcrumb.1 }}{% endif %}
{% endfor %}
</div>
{% endif %}
{% endblock %}


{% block content %}
{% endblock %}

