{% extends "admin/base_site.html" %}
{% load i18n pipeline djangofloor %}
{% block extrahead %}
{% stylesheet 'django' %}
{% javascript 'django' %}
{% df_init_websocket %}
{% endblock %}

{% block messages %}
    <ul class="messagelist" id="df_messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}
    </ul>
{% endblock messages %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'System state' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    {% for component in components %}{{ component }}{% endfor %}
</div>
{% endblock %}
