{% extends "admin/base_site.html" %}
{% load i18n pipeline djangofloor staticfiles %}
{% block extrahead %}
{% stylesheet 'django' %}
{% javascript 'django' %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
{% df_init_websocket %}
{% endblock %}
{% block title %}{% trans 'System state' %}{% endblock %}

{% block messages %}
    <ul class="messagelist" id="df_messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}
    </ul>
{% endblock messages %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'System state' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    {% for component in components %}{{ component }}{% endfor %}
</div>
<script type="text/javascript">django = {}; django.jQuery = $;</script>
<script type="text/javascript" src="{% static 'admin/js/collapse.js' %}"></script>
{% endblock %}
