aiohttp==1.3.3
aiohttp-wsgi==0.6.6
amqp==2.1.4
appdirs==1.4.3
async-timeout==1.1.0
asyncio-redis==0.14.3
billiard==3.5.0.2
celery==4.0.2
chardet==2.3.0
Django==1.10.6
django-bootstrap3==8.2.1
kombu==4.0.2
multidict==2.1.4
packaging==16.8
pyparsing==2.2.0
pytz==2016.10
redis==2.10.5
six==1.10.0
vine==1.1.3
yarl==0.9.8
