{% extends "djangofloor/django/base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}" />
{{ form.media }}
{% endblock %}
{% block title %}{{ df_project_name }}{% endblock %}
{% block bodyclass %}{{ block.super }} login allauth{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block usertools %}{% endblock %}

{% block sidebar %}
<p class="login-footer">
  {% if df_has_index_view %}
    <a href="{% url 'index' %}">{% trans 'Return to the homepage' %}</a>
  {% else %}
    <a href="/">{% trans 'Return to the homepage' %}</a>
  {% endif %}
  </p>
{% endblock %}
