{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="btn-group">
        <a class="btn btn-default" href="?" onclick="return df.call('df.messages.info', {html: 'This is a message'});">Add a message!</a>
        <a class="btn btn-default" href="?" onclick="return df.call('df.messages.warning', {html: 'This is a warning'});">Add a warning!</a>
        <a class="btn btn-default" href="?" onclick="return df.call('df.modal.show', {html: 'This is a modal (window key: ' + df.window_key + ')'});">Add a modal!</a>
        <a class="btn btn-default" href="?" onclick="return df.call('demo.test_signal', {});">Signal to the server</a>
        <a class="btn btn-default" href="?" onclick="return df.call('demo.test_websocket', {});">Receive by Websockets</a>
        <a class="btn btn-default" href="?" onclick="return df.call('demo.test_celery', {});">Test Celery tasks</a>
        <a class="btn btn-default" href="?" onclick="return df.call('df.redirect', {url: '/'});">Redirection to index</a>

    </div>
    <div class="panel {% if FLOOR_USE_WS4REDIS %}panel-primary{% else %}panel-warning{% endif %}">
<div class="panel-heading">Websockets</div>
<p class="panel-body">{% if FLOOR_USE_WS4REDIS %}websockets activated
    {% elif WS4REDIS_EMULATION_INTERVAL %}
    websockets emulated (every {{ WS4REDIS_EMULATION_INTERVAL }} milliseconds)
    {% else %}no websockets (use FLOOR_USE_WS4REDIS or WS4REDIS_EMULATION_INTERVAL)
    {% endif %}</p>
    </div>
    <div class="panel {% if USE_CELERY %}panel-primary{% else %}panel-warning{% endif %}">
<div class="panel-heading">Offline tasks</div>
<p class="panel-body">{% if USE_CELERY %}celery tasks activated{% else %}no celery tasks{% endif %}</p>
    </div>

<ul>
<li>Window key: {{ window_key }}</li>
<li>Session key: {{ session_key }}</li>
</ul>


    <form method="post" onsubmit="return df.call('demo.test_form', {form: $(this).serializeArray()});">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-success" type="submit" value="submit form">
    </form>
{% endblock %}