<!DOCTYPE html>{% load bootstrap3 staticfiles i18n djangofloor pipeline %}{% df_deprecation "Template 'djangofloor/base.html' is deprecated. Please use 'djangofloor/bootstrap3/base.html' instead." %}<html lang="{% block html-language %}{{ LANGUAGE_CODE }}{% endblock %}">
<head>
    <title>{% block head_title %}{{ df_project_name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="robots" content="index, follow"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {% block head_extra %}{% endblock %}
    {% block head_favicon %}
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-TileImage" content="{% static 'favicons/mstile-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    {% endblock %}
    {% block head_pipeline %}{% javascript 'bootstrap3' %}{% stylesheet 'bootstrap3' %}<!--[if lt IE 9 ]>{% javascript 'ie9' %}<![endif]-->{% endblock %}
</head>
<body>
{% block body %}
    {% block bootstrap3_nav %}
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% if df_has_index_view %}{% url 'index' %}{% else %}/{% endif %}">{{ df_project_name }}</a>
            </div>
            <div class="navbar-collapse collapse">
                {% if user.is_authenticated and not df_remote_authenticated %}
                    <a class="navbar-brand" href="{% url 'account_email' %}">{% fontawesome_icon 'pencil' %}&nbsp;
                        <small>{{ user }}</small>
                    </a>
                    <a class="navbar-brand" href="{% url 'account_logout' %}">{% fontawesome_icon 'sign-out' %}</a>
                {% elif user.is_authenticated %}
                    <a class="navbar-brand">{{ user.username }}</a>
                {% elif user.is_anonymous %}
                    <a class="navbar-brand" href="{% url 'account_login' %}">{% fontawesome_icon 'sign-in' %}</a>
                {% endif %}
                {% if user.is_staff %}
                    <a class="navbar-brand" href="{% url 'admin:index' %}">{% fontawesome_icon 'wrench' %}</a>
                {% endif %}
                {% block navbar %}
                    <form class="navbar-form navbar-right" role="form">
                    </form>
                {% endblock %}

            </div>
            <!--/.navbar-collapse -->
        </div>
    {% endblock %}
    {% block messages %}
        <div id="messages">{% bootstrap_messages %}</div>
    {% endblock messages %}
    {% block breadcrumbs %}{% endblock %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="container-fluid">
        {% block content_fluid %}
        {% endblock %}
    </div>
    {% block footer %}
        <hr>
        <footer></footer>
    {% endblock %}
{% endblock %}
{% block extra_body %}
{% endblock %}
<div class="modal fade" id="df_modal" tabindex="-1" role="dialog" aria-labelledby="df_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
</body>
{% df_init_websocket %}</html>
