$(function () {
{% if use_ws4redis %}
    df.ws4redis = WS4Redis({
        uri: '{{ WEBSOCKET_URI }}djangofloor?subscribe-broadcast&subscribe-user&subscribe-session&publish-broadcast&echo',
        receive_message: function (msg) { setTimeout(function() { var parsed = JSON.parse(msg); df.call(parsed.signal, parsed.options, true); }, 0); },
        heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });
    {% for name in signals %}df.connect_ws('{{ name }}');
    {% endfor %}{% else %}
    {% if WS4REDIS_EMULATION_INTERVAL > 0 %}
    df.ws_emulation_interval = {{ WS4REDIS_EMULATION_INTERVAL }};
    df.connect_ws_emulator('{% url 'djangofloor.views.get_signal_calls' %}');{% endif %}
    {% for name in signals %}df.connect_http('{{ name }}', "{% url 'djangofloor.views.signal_call' signal=name %}");
    {% endfor %}{% endif %}
});
