ul.list-unstyled li {
    list-style: none;
}
a.button.button-lg {
    padding: 10px 15px;
    display: inline-block;
}

ul.messagelist li.success {
    background: #dfd url(../admin/img/icon-yes.svg) 40px 12px no-repeat;
}
ul.messagelist li.danger {
    background: #ffefef url(../admin/img/icon-no.svg) 40px 12px no-repeat;
}
ul.messagelist li.default {
    background: #f3f3f3;
}
ul.messagelist li.info {
    background: #c7e0e9 url(../admin/img/icon-info.svg) 40px 12px no-repeat;
    background-size: 16px auto;
}

ul.messagelist.compact li, ul.messagelist.compact li.success {
    padding: 2px 10px 2px 65px;
    margin: 0;
    background: #dfd url(../admin/img/icon-yes.svg) 40px 5px no-repeat;
}
ul.messagelist.compact li.warning {
    background: #ffc url(../admin/img/icon-alert.svg) 40px 5px no-repeat;
}
ul.messagelist.compact li.error, ul.messagelist.compact li.danger {
    background: #ffefef url(../admin/img/icon-no.svg) 40px 5px no-repeat;
}
ul.messagelist.compact li.default {
    background: #f3f3f3;
}
ul.messagelist.compact li.info {
    background: #C7E0E9 url(../admin/img/icon-info.svg) 40px 5px no-repeat;
    background-size: 16px auto;
}

i.di {
    display: inline-block;
    background-size: 16px auto;
    width: 16px;
    height: 17px;
}
i.di-check {
    background: transparent url(../admin/img/icon-yes.svg) 0px 5px no-repeat;
}
i.di-info {
    background-color: transparent;
    background-image: url(../admin/img/icon-info.svg);
    background-repeat: no-repeat;
    background-position: 0px 4px;
    background-size: 15px auto;
}
i.di-remove {
    background: transparent url(../admin/img/icon-no.svg) 0px 5px no-repeat;
}
i.di-warning {
    background: transparent url(../admin/img/icon-alert.svg) 0px 5px no-repeat;
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 12px 14px;
}

body > div.col-xs-11.col-sm-4.alert {
    background: #f3f3f3;
    width: 25%;
    padding-right: 30px;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    min-height: 40px;
    border: 1px solid #eee;
}
body > div.col-xs-11.col-sm-4.alert button.close {
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    text-decoration: none;
    color: #aaa;
    border-style: none;
    margin-right: -7px;
}
body > div.col-xs-11.col-sm-4.alert button.close:hover,
body > div.col-xs-11.col-sm-4.alert button.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body > div.col-xs-11.col-sm-4.alert.alert-warning {
    background: #ffc;
}
body > div.col-xs-11.col-sm-4.alert.alert-success {
    background: #dfd;
}
body > div.col-xs-11.col-sm-4.alert.alert-danger {
    background: #ffefef;
    border: 1px solid #FFDCD4;
}
body > div.col-xs-11.col-sm-4.alert.alert-default {
    background: #f3f3f3;
    border: 1px solid #ddd;
}
body > div.col-xs-11.col-sm-4.alert.alert-info {
    background-color: #C7E0E9;
    border: 1px solid #78B8E9;
}
input[type="file"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
}

input.has-success {
    border-color: #3c763d;
    border-width: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
input.has-warning {
    border-color: #8a6d3b;
    border-width: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
input.has-error {
    border-color: #a94442;
    border-width: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.login .form-row #id_newpassword1, .login .form-row #id_newpassword2, .login .form-row #id_password1, .login .form-row #id_password2, .login .form-row #id_email {
    clear: both;
    padding: 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* allauth */
.allauth a.button, .allauth button {
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin: 2px 0;
    vertical-align: middle;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
}
.allauth a.button.secondaryAction, .allauth button.secondaryAction {
    background: #609ab6;
}
.allauth a.button.primaryAction, .allauth button.primaryAction {
    background: #417690;
}
.allauth .ctrlHolder {
    margin-top: 6px;
    margin-bottom: 6px;
}
.allauth .ctrlHolder .unverified, .allauth .ctrlHolder .verified, .allauth .ctrlHolder .primary {
    float: right;
    margin-right: 6px;
    margin-left: 6px;
}

.allauth .login-footer, .login .login-footer {
    margin-top: 30px;
    text-align: center;
}
.allauth input[type=text], .allauth input[type=password], .allauth input[type=email] {
    clear: both;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 2px 0;
    display: inline-block;
}

/* modal */
body > .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
body > .modal > .modal-dialog {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    padding-top: 27px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
body > .modal > .modal-dialog > .modal-close {
    color: #aaa;
    float: right;
    margin-top: -33px;
    margin-right: -15px;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}
body > .modal > .modal-dialog > .modal-close:hover,
body > .modal > .modal-dialog > .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

