{% load i18n l10n djangofloor %}
<div class="module">
        <h2>{% trans 'Request and settings info' %}</h2>

            <ul>{% if websockets_required %}
                <li><strong>{% trans 'Websockets: ' %}</strong>
                <span class="label label-danger" id="workingwebsockets">{% django_icon 'remove' %}</span>
                    <small id="notworkingwebsockets">{% trans 'At least one Celery worker is required, as well as a websocket-compatible server.' %}</small>
                </li>{% endif %}
                <li><strong>{% trans 'Connected user: '%}</strong>
                    {% if not user %}{% django_icon 'remove' %} {% trans 'no user' %}
                    {% elif not user.is_authenticated %}{% django_icon 'warning' %}  {% trans 'anonymous user' %}
                    {% else %}{% django_icon 'check' %}  ({{ user }})
                    {% endif %}
                </li>
                <li>
                    <strong>{% trans 'User IP address: ' %}</strong>{% django_icon 'check' %} {{ remote_address }}
                </li>
                {% if remote_user %}
                <li><strong>{% trans 'User HTTP header: ' %}</strong>{{ remote_user.0|upper }} =
                    {% if remote_user.1 %}{% django_icon 'check' %} {{ remote_user.1 }}
                    {% else %}{% django_icon 'remove' %} {% trans 'empty header' %}
                    {% endif %}
                </li>
                {% endif %}
                    {% if use_ssl and secure_proxy_ssl_header %}
                <li><strong>{% trans 'Secure proxy SSL HTTP header: ' %}</strong>{{ secure_proxy_ssl_header.0|upper }} =
                    {% if secure_proxy_ssl_header.2 %}{% django_icon 'check' %}{{ secure_proxy_ssl_header.1 }}
                    {% elif secure_proxy_ssl_header.1 %}{% django_icon 'warning' %}{{ secure_proxy_ssl_header.1 }}
                    {% else %}{% django_icon 'remove' %} {% trans 'empty header' %}<br> <small>
                        {% trans 'Please ensure that a HTTPS access is available and that the webserver provides the right header (without the HTTP prefix).' %}
                    </small>
                    {% endif %}
                </li>
                {% endif %}
                {% if use_x_forwarded_for %}
                <li><strong>{% trans 'Forwarded-for HTTP header: ' %}</strong>{{ use_x_forwarded_for.0|upper }} =
                    {% if use_x_forwarded_for.2 %}{% django_icon 'check' %} {{ use_x_forwarded_for.1 }}
                    {% elif use_x_forwarded_for.1 %}{% django_icon 'check' %} {{ use_x_forwarded_for.1 }}
                    {% else %}{% django_icon 'remove' %} {% trans 'empty' %}
                    {% endif %}
                </li>
                {% endif %}
                <li><strong>{% trans 'Server names allowed to POST requests: ' %}</strong>{{ allowed_hosts|join:', ' }}</li>
                <li><strong>{% trans 'Requested server name:' %}</strong>
                    {% if allowed_host %}{% django_icon 'check' %}{% else %}{% django_icon 'warning' %}{% endif %}
                {% if request_host %}{{ request_host }}{% else %}empty{% endif %}
                </li>
                <li><strong>{% trans 'Configuration server name:' %}</strong>
                    {% if server_name_valid %}{% django_icon 'check' %}{% else %}{% django_icon 'warning' %}{% endif %}
                {{ server_name }}
                </li>
                {% if request_site %}<li><strong>{% trans 'Request site (from the CurrentSiteMiddleware middleware):' %}</strong>
                <span class="label label-{% if request_site_valid %}success{% else %}warning{% endif %}">{{ request_site }}</span>
                </li>{% endif %}
                <li><strong>{% trans 'Redis-based cache:' %}</strong>
                    {% if cache_redis and not debug %}{% django_icon 'check' %}
                    {% elif not cache_redis %}{% django_icon 'remove' %} {% trans 'you should install "django-redis" to cache your pages in Redis.' %}
                    {% else %}{% django_icon 'remove' %} {% trans 'you must deactivate the DEBUG mode to activate the cache.' %}{% endif %}
                </li>
                <li><strong>{% trans 'Redis-based sessions:' %}</strong>
                    {% if session_redis %}{% django_icon 'check' %}
                    {% else %}{% django_icon 'remove' %} {% trans 'you should install "django-redis-sessions" to store your sessions.' %}{% endif %}
                </li>
                <li><strong>{% trans 'Config files: ' %}</strong>
                    <ul class="list-unstyled">
                    {% for provider in settings_providers %}<li>{% if provider.is_valid %}{% django_icon "check" %}{% else %}{% django_icon "remove" %}{% endif %} {{ provider }}{% if not provider.is_valid %}{% trans ': not found' %}{% else %}{% trans ': loaded' %}{% endif %}{% endfor %}</li>
                    </ul>
                </li>

            </ul>
{% if websockets_required %}
    <script type="application/javascript">
        window.onload = function () {
            $.df.connect('df.monitoring.checked_ws', function () {
                "use strict";
                $('#workingwebsockets').html('{% django_icon "check" %}');
                $('#notworkingwebsockets').remove();
            });
            setTimeout(function () { $.df.call('df.monitoring.check_ws', {}); }, 500);
        };
    </script>
{% endif %}
</div>

<fieldset class="module aligned collapse">
  <h2>{% trans 'Request headers' %}</h2>
  <div>
    {% trans 'Here is the list of all request headers. Those prefixed by "HTTP_" are provided by the client or the reverse proxy.' %}
  <ul>
    {% for data in request_headers %}
    <li><strong>{{ data.0 }}</strong>: <code>{{ data.1 }}</code> {% if data.2 %}<small>({{ data.2 }})</small> {% endif %}</li>
    {% endfor %}
  </ul></div>
</fieldset>
